<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blogs</title>
</head>
<body>
<div class="header">
    <h1>My Blogs</h1>
</div>

{% for blog in blogs %}
    <div class="blog">
        <div class="title">
            <a href="{% url 'blog_get_detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
        </div>
        <div class="info">
            <span class="category" style="color: #ff9900;">{{ blog.category.name }}</span>
            <span class="author" style="color: #4a86e8">{{ blog.author }}</span>
            <span class="created" style="color: #6aa84f">{{ blog.created|date:"Y-m-d H:i:s" }}</span>
        </div>
        <div class="summary">
            {{ blog.content|truncatewords:100 }}
        </div>
    </div>
{% endfor %}

</body>
